@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.promo {
    background: url('../img/promo_bg.jpg') no-repeat center / cover;
    min-height: 789px;

}

.container {
    max-width: 1140px;
    padding: 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.menu a {
    font-weight: 500;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.toggle_menu {
    background: none;
    border: none;
    display: none;
}

.toggle_menu span {
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin-bottom: 5px;
}

.yellow a {
    color: #FFC700;
}


@media (max-width: 767px) {
    .toggle_menu {
        display: block;
    }

    .menu .menu_list {
        display: none;
    }
}

.PERO {
    margin-top: 131px;


}

.PERO h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    color: #FFFFFF;

}

.PERO button {
    margin-top: 43px;
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PERO button p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .PERO h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }


    .PERO {
        margin-top: 118px;
        margin-left: 24px;
    }

    .PERO button {
        margin-top: 20px;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}



.promo1 {
    min-height: 789px;
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
    margin-top: 89px;
    margin-bottom: 38px;
}

.grid_dad {
    height: 600px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.elem_1 {
    background: url('../img/block_1.jpg') no-repeat center / cover;
    height: 497px;
    width: 360px;
    border-radius: 10px;
    padding: 0 16px 0 16px;
}

.elem_2 {
    background: url('../img/block_2.jpg') no-repeat center / cover;
    height: 497px;
    width: 360px;
    border-radius: 10px;
    padding: 0 16px 0 16px;
}

.elem_3 {
    background: url('../img/block_3.jpg') no-repeat center / cover;
    height: 497px;
    width: 360px;
    border-radius: 10px;
    padding: 0 16px 0 16px;
}

.elem_1 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}

.elem_1 span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
}

.elem_1 button {
    width: 160px;
    height: 40px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 40px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.elem_1 {
    padding-top: 211px;
}

.elem_1 span {
    margin-top: 2px;
    margin-bottom: 10px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;


}

/* elem_1 */

.elem_2 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}

.elem_2 span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
}

.elem_2 button {
    width: 160px;
    height: 40px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 40px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.elem_2 {
    padding-top: 211px;
}

.elem_2 span {
    margin-top: 2px;
    margin-bottom: 10px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;


}

/* elem_2 */

.elem_3 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}

.elem_3 span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
}

.elem_3 button {
    width: 160px;
    height: 40px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 40px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.elem_3 {
    padding-top: 211px;
}

.elem_3 span {
    margin-top: 2px;
    margin-bottom: 10px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width:767px) {
    .name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 29px;
        color: #0499DD;
    }

    .elem_2 {
        display: none;
    }

    .elem_3 {
        display: none;
    }
}

.promo2 {
    background: url('../img/page_2.jpg') no-repeat center / cover;
    min-height: 789px;
}

.container1 {
    position: relative;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dad {
    position: absolute;
    margin-top: 136px;
    width: 542px;
    height: 476px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 61px 80px;
    margin: 10px;
}

.dad h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
    margin-bottom: 40px;

}

.dad p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin-bottom: 20px;
}

.dad span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;

}

@media(max-width:767px) {
    .dad {
        width: 380px;
        height: 386px;
        margin: 159px 24px 159px 24px;
        padding: 43px 43px 44px 43px;
    }

    .dad span {
        display: none;
    }
}

.promo3 {
    max-width: 1200px;
    margin: 0 auto;
}

.container2 {
    padding-top: 98px;
    padding-bottom: 98px;
}

.container2 h2 {
    margin-left: 80px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.block2 {
    margin-top: 90px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    max-width: 500px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.onion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.onion {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0499DD;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    text-align: center;
}

.button35 {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-top: 20px;
}

.promo4 {
    padding: 90px 0;
    display: flex;
    justify-content: center;
}

.container3 {
    max-width: 1120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
}

@media (max-width: 600px) {
    .container3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 8px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .container3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 260px 1fr;
        gap: 16px;
    }
}

@media (max-width: 1168px) {
    .container3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
    }
}

.motobike {
    width: 212px;
}

.container3 .img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .img:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .img:nth-child(4) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .img:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .img:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .img:nth-child(7) {
    grid-column: 2 / 3;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .img:nth-child(8) {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .container3 .img:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 768px){
.container3 .img:nth-child(1) img {
    width: 380px;
}
}
@media (max-width: 768px) {
    .container3 .img:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}
@media (max-width: 768px){
.container3 .img:nth-child(2) img {
    width: 180px;
}
}
@media (max-width: 768px){
.container3 .img:nth-child(3) img {
    width: 180px;
}
}

@media (max-width: 768px){
.container3 .img:nth-child(8) img {
    width: 180px;
}
}

@media (max-width: 768px) {
    .container3 .img:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: relative;
        bottom: -110px;
    }
}

@media (max-width: 768px) {
    .container3 .img:nth-child(3) img {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .container3 .img:nth-child(4) {
        display: none;
    }
}

@media (max-width: 768px) {
    .container3 .img:nth-child(5) {
        display: none;
    }
}

@media (max-width: 768px) {
    .container3 .img:nth-child(6) {
        display: none;
    }
}

@media (max-width: 768px) {
    .container3 .img:nth-child(7) {
        display: none;
    }
}

@media (max-width: 768px) {
    .container3 .img:nth-child(8) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}